<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data Form</title>
</head>
<body>
    <h1>Student Form</h1>
    <form action="/submit" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age" required><br>
        
        <label for="class">Class:</label><br>
        <input type="number" id="class" name="class" required><br>

	<label for="subject">Hindi No:</label><br>
        <input type="number" id="subject" name="subject" required><br>
	
        <label for="subject">English No:</label><br>
        <input type="number" id="subject" name="subject" required><br>

	<label for="subject">Math No:</label><br>
        <input type="number" id="subject" name="subject" required><br>

	<label for="subject">Science No:</label><br>
        <input type="number" id="subject" name="subject" required><br>

	<label for="subject">Information Technology No:</label><br>
        <input type="number" id="subject" name="subject" required><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
